<!DOCTYPE html>
<html>
<head>
  <title>Tameem Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css"/>
  
</head>
<body>

  <!-- Header -->
   <header>
   	  <div class="container">
   	  	  <div class="logo_name">
   	  	  	  <a href=""><span>T</span>ameem</a>
   	  	  </div>
   	  	  <div class="trigger-main">
   	  	  	 <a href="javascript:void(0);" class="ham-burger">
   	  	  	 	 <span></span>
   	  	  	 	 <span></span>
   	  	  	 </a>
   	  	  </div>
   	  	  <div class="navbar">
   	  	  	  <ul>
   	  	  	  	  <li><a href="#home" class="active">Home</a></li>
   	  	  	  	  <li><a href="#about">About</a></li>
   	  	  	  	  <li><a href="#services">Services</a></li>
   	  	  	  	  <li><a href="#portfolio">Portfolio</a></li>
   	  	  	  	  <li><a href="/blog/articles_user">Blog</a></li>
   	  	  	  	  <li><a href="#contact">Contact</a></li>
   	  	  	  </ul>
   	  	  </div>
   	  </div>
   </header>
 
   

  <!---- Home ---->
    <section class="home" id="home">
       <div class="container">
       	   <div class="home-txt">
       	   	     <h1>Hi, I'm Tameem Rajab</h1>
       	   	     <h3>Frontend Developer</h3>
       	   </div>
       </div>
    </section>
  
	
 
  <!----- About ----->
    <section class="about" id="about">
       <div class="container">
       	  <h2 class="title">About Me</h2>
       	  <div class="about_content">
       	  	  <div class="pic">
       	  	  	 <img src="images/about-me.jpg" alt="me">
       	  	  </div>
       	  	  <div class="desc">
       	  	  	  <h4>Hi, I'm Tameem Rajab</h4>
       	  	  	  <h5>Frontend Developer based in Helsinki</h5>
       	  	  	  <p>Hi! I am Tameem Rajab, a web designer/developer focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web design/development since 2017. </p>
						 <p> I enjoy creating beautifully designed, intuitive and functional websites, with an influential personality who wants to pursue a competitive and technical career as a Web Developer..</p>
						 
						 <p>	 
					<a href="CV_Tameem Rajab 2.pdf" download target="_blank">
							 <button type="button" class="btn-bg" >Donwload CV </button></a>
					<a href="#contact">
       	  	  	  	<button type="button" class="btn-light">Hire Me</button></a>
						 </p>
						 
       	  	  </div>
       	  </div>
       </div>
    </section>
 
	

  <!---- Services ----->
    <section class="services" id="services">
    	<div class="container">
    		 <h2 class="title">Services</h2>
    		 <div class="services_content">
    		 	 <div class="part">
    		 	 	  <div class="box">
    		 	 	  	  <div class="icon">
    		 	 	  	  	 <span class="fa fa-laptop"></span>
    		 	 	  	  </div>
    		 	 	  	  <h3>Web Development</h3>
    		 	 	  	  <p>Building, and maintaining websites. includes web design, web publishing, and database management</p>
    		 	 	  </div>
    		 	 </div>
    		 	 <div class="part">
    		 	 	  <div class="box">
    		 	 	  	  <div class="icon">
    		 	 	  	  	 <span class="fa fa-mobile"></span>
    		 	 	  	  </div>
    		 	 	  	  <h3>Responsive Design</h3>
    		 	 	  	  <p>Single site supports all devices, considering content, and performance to ensure usability.</p>
    		 	 	  </div>
    		 	 </div>
    		 	 <div class="part">
    		 	 	  <div class="box">
    		 	 	  	  <div class="icon">
    		 	 	  	  	 <span class="fa fa-pencil"></span>
    		 	 	  	  </div>
    		 	 	  	  <h3>Creative Design</h3>
    		 	 	  	  <p>Design that fulfils the objective it was created for. By creating your original corporate identity</p>
    		 	 	  </div>
    		 	 </div>
    		 	 <div class="part">
    		 	 	  <div class="box">
    		 	 	  	  <div class="icon">
    		 	 	  	  	 <span class="fa fa-code"></span>
    		 	 	  	  </div>
    		 	 	  	  <h3>Clean Code</h3>
    		 	 	  	  <p>Code doesn't require any comments to be understood. Code reads as close to human language as possible.</p>
    		 	 	  </div>
    		 	 </div>
    		 	 <div class="part">
    		 	 	  <div class="box">
    		 	 	  	  <div class="icon">
    		 	 	  	  	 <span class="fa fa-support"></span>
    		 	 	  	  </div>
    		 	 	  	  <h3>Fast Support</h3>
    		 	 	  	  <p>Fast, Powerful, Scalable performance. Build websites using the latest technology with Passionate support</p>
    		 	 	  </div>
    		 	 </div>
    		 	 <div class="part">
    		 	 	  <div class="box">
    		 	 	  	  <div class="icon">
    		 	 	  	  	 <span class="fa fa-rocket"></span>
    		 	 	  	  </div>
    		 	 	  	  <h3>Branding Identity</h3>
    		 	 	  	  <p>Colors, Design, Logotype, Name, Symbol that together identify and distinguish your brand</p>
    		 	 	  </div>
    		 	 </div>
    		 </div>
    	</div>
    </section>

	

 <!---- Skills ---->
  <section class="skills">
  	<div class="container">
  		 <h2 class="title">Skills</h2>
  		 <div class="skills_content">
  		 	 <div class="part">
               <label>Html5</label>
                  <div class="skill_info" data-text="80%">
                  	  <div class="skill_bar"  style="width: 80%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="part">
               <label>Css</label>
                  <div class="skill_info" data-text="60%">
                  	  <div class="skill_bar"  style="width: 60%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="part">
               <label>Javascript</label>
                  <div class="skill_info" data-text="90%">
                  	  <div class="skill_bar"  style="width: 90%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="part">
               <label>Angular</label>
                  <div class="skill_info" data-text="40%">
                  	  <div class="skill_bar"  style="width: 40%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="part">
               <label>Php</label>
                  <div class="skill_info" data-text="56%">
                  	  <div class="skill_bar"  style="width:56%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="part">
               <label>React</label>
                  <div class="skill_info" data-text="78%">
                  	  <div class="skill_bar" style="width: 78%">
                  	  </div>
                  </div>
  		 	 </div>
  		 </div>
  	</div>
 </section>

 

 <!-- Start Portfolio -->
    <section class="portfolio" id="portfolio">
    	<div class="container">
    		 <h2 class="title">Portfolio</h2>

    		 <div class="portfolio-content">
    		 	  <div class="part">
    		 	  	  <div class="box">
    		 	  	  	  <h3>Portfolio Title Here</h3>
    		 	  	  	  <h4>Web Design</h4>
    		 	  	  	  <img src="images/portfolio1.jpg" alt="portfolio"/>
    		 	  	  </div>
    		 	  </div>
    		 	  <div class="part">
    		 	  	  <div class="box">
    		 	  	  	  <h3>Portfolio Title Here</h3>
    		 	  	  	  <h4>Graphic Design</h4>
    		 	  	  	  <img src="images/portfolio2.jpg" alt="portfolio"/>
    		 	  	  </div>
    		 	  </div>
    		 	  <div class="part">
    		 	  	  <div class="box">
    		 	  	  	  <h3>Portfolio Title Here</h3>
    		 	  	  	  <h4>Branding</h4>
    		 	  	  	  <img src="images/portfolio3.jpg" alt="portfolio"/>
    		 	  	  </div>
    		 	  </div>
    		 	  <div class="part">
    		 	  	  <div class="box">
    		 	  	  	  <h3>Portfolio Title Here</h3>
    		 	  	  	  <h4>Graphic Design</h4>
    		 	  	  	  <img src="images/portfolio4.jpg" alt="portfolio"/>
    		 	  	  </div>
    		 	  </div>
    		 	  <div class="part">
    		 	  	  <div class="box">
    		 	  	  	  <h3>Portfolio Title Here</h3>
    		 	  	  	  <h4>Web Design</h4>
    		 	  	  	  <img src="images/portfolio5.jpg" alt="portfolio"/>
    		 	  	  </div>
    		 	  </div>
    		 	  <div class="part">
    		 	  	  <div class="box">
    		 	  	  	  <h3>Portfolio Title Here</h3>
    		 	  	  	  <h4>Branding</h4>
    		 	  	  	  <img src="images/portfolio6.jpg" alt="portfolio"/>
    		 	  	  </div>
    		 	  </div>
    		 </div>
    	</div>
    </section>

	


	

 <!-- Start Blog -->
   <section class="blog" id="blog">
   	 <div class="container">
   	 	   <h2 class="title">Blog</h2>
   	 	   <div class="blog-content">
   	 	   	  <div class="part">
   	 	   	  	  <div class="box">
   	 	   	  	  	  <img src="images/GettyImages-1035176244.jpg" alt="blog" />
   	 	   	  	  	  <h4>july 04,2019 </h4>
   	 	   	  	  	  <h3>How 2020 can be a tipping point for women in STEM</h3>
   	 	   	  	  	  <p>As we welcome 2020 with ambitions set high for greater diversity and inclusion in the workforce, it provides us with an ...</p>
   	 	   	  	  	  <p><button type="button" class="btn-bg" onclick="window.location.href = 'http://tameemblog.simplesite.com/444482740?';">Read More</button> </p>
   	 	   	  	  </div>
   	 	   	  </div>
   	 	   	  <div class="part">
   	 	   	  	  <div class="box">
   	 	   	  	  	  <img src="images/editors-letter02.jpg" alt="blog" />
   	 	   	  	  	  <h4>jun 12,2019 </h4>
   	 	   	  	  	  <h3>Give it a shot!</h3>
   	 	   	  	  	  <p>Like many of you, I have been doing creative work for most of my existence.
						I am very fortunate to have realized early on that I cou..</p>
   	 	   	  	  	  <p><button type="button" class="btn-bg" onclick="window.location.href = 'http://tameemblog.simplesite.com/444482609';"  >Read More</button></p>
   	 	   	  	  </div>
   	 	   	  </div>
   	 	   	  <div class="part">
   	 	   	  	  <div class="box">
   	 	   	  	  	  <img src="images/large_d15eccaf-b236-4a95-8870-2b429e3875c0.jpg" alt="blog" />
   	 	   	  	  	  <h4>july 16,2019 </h4>
   	 	   	  	  	  <h3>Google Brass Set 2023 as Deadline to Beat Amazon, Microsoft in Cloud</h3>
   	 	   	  	  	  <p>The clock is ticking for Google Cloud. The Google unit, which sells comput...</p>
   	 	   	  	  	  <p><button type="button" class="btn-bg" onclick="window.location.href = 'http://tameemblog.simplesite.com/444482625';" >Read More</button></p>
   	 	   	  	  </div>
   	 	   	  </div>
   	 	   </div>
   	 </div>
   </section>

   

 <!-- Start Contact -->
   <section class="contact" id="contact">
   	 <div class="container">
   	 	  <h2 class="title">Contact Me</h2>
   	 	  <div class="contact-content">
			<form action="mail_handler.php" method="post" name="form" >
				<label for="name"></label>
				<input type="text" name="name"  placeholder="Enter Your Name" required>
				<label for="email"></label>
				<input type="email" name="email"  placeholder="Enter Your Email" required>
				<label for="message"></label>
				<textarea name="msg"  placeholder="Enter Your Message Here..." required></textarea><br>
				<input type="submit" name="submit" value="Send" class="btn-light">
			</form> 
			
   	 	  </div>
		</div>
		
   </section>
 
 
 <!-- Start Footer -->
   <footer>
   	  <div class="container">
   	  	  <div class="footer-content">
   	  	  	  <div class="box">
   	  	  	  	  <div class="icon">
   	  	  	  	  	 <span class="fa fa-phone"></span>
   	  	  	  	  </div>
   	  	  	  	  <h4>Phone</h4>
   	  	  	  	  <p>+358 466578518</p>
   	  	  	  </div>
   	  	  	  <div class="box">
   	  	  	  	  <div class="icon">
   	  	  	  	  	 <span class="fa fa-envelope"></span>
   	  	  	  	  </div>
   	  	  	  	  <h4>Eamil</h4>
   	  	  	  	  <p>tameem_r@hotmail.com</p>
   	  	  	  </div>
   	  	  	  <div class="box">
   	  	  	  	  <div class="icon">
   	  	  	  	  	 <span class="fa fa-map-marker"></span>
   	  	  	  	  </div>
   	  	  	  	  <h4>Location</h4>
   	  	  	  	  <p>Varustuksentie 10 B 24<br> 00940 Helsinki, Finland</p>
   	  	  	  </div>
   	  	  </div>
   	  	  <div class="social-links">
   	  	  	 <ul>
   	  	  	 	 <li><a href=""><span class="fa fa-facebook"></span></a></li>
   	  	  	 	 <li><a href=""><span class="fa fa-linkedin"></span></a></li>
   	  	  	 	 <li><a href=""><span class="fa fa-skype"></span></a></li>
   	  	  	 	 <li><a href=""><span class="fa fa-instagram"></span></a></li>
					</ul>
					<p class="madewithlove">Made With <i class="fa fa-heart"></i> by Tameem Rajab</p>
   	  	  </div>
		 </div>
		 
   </footer>
 <!-- End Footer -->



<!-- jquery code -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		var bottom=$("header").outerHeight();
		var header=$("header").offset().top + bottom;
     $(window).scroll(function(){
          // header fixed only when window width greater than 991px
         if($(window).width()>991){
     	if($(window).scrollTop()>=header){
     		$("header").addClass("sticky")
     	}
     	else{
     	 $("header").removeClass("sticky")	
     	}
     }
     })

     // navbar active link

     $(".navbar ul li a").click(function(){
     	 $(".navbar ul li a").removeClass("active")
     	 $(this).addClass("active");
     })
  
    $(".ham-burger").click(function(){
    	$(this).toggleClass("active")
    	$(".navbar").toggleClass("open");
    })

	})

</script>

</body>
</html>





